*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

/* gr computer and travels */
.headline{
    font-family: Lucida Calligraphy;
    text-shadow: 3px 3px 5px rgb(255, 251, 251);
    margin-left: 12px;
color: whitesmoke;
}

.computer{
    color: whitesmoke;
    font-size: 16px;
}

/* navigation bars start here  */
#navbar{
   
}
#navbar::before{
   content: "";
   
   /* height: 40vh;
   width: 100vw; */
   position: absolute;
   top: 0px;
   z-index: -1;
   box-shadow: 0px -2px 5px whitesmoke;
  /* border-radius:5px; */
}
#navbar ul{
    display: flex;
    justify-content: center;
   
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
text-decoration: none;
padding: 4px 4px;
margin: 7px 7px;
font-family: 'Recursive', sans-serif;
color: white;

}
#navbar ul li a:hover{
color: rgb(231, 211, 211);
border-radius: 12px;
box-shadow: 0px -4px 8px white;
}
/* keyboard  */


.bg-image img{
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 0px;
    z-index: -1;
    opacity: 1;
    

}
/* service  start here  */
/* .main-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
.service{
   margin: 7px 8px;
 
    border: 2px solid red;
} */
/* media  */
@media only screen and (max-width: 551px) {
    /* .headline{
        display: flex;
        justify-content: center;
    } */
    .direction{
        display: none;
    }
    #navbar{
margin-top: 15px;
    }
  }

@media only screen and (max-width: 337px) {
    .headline{
        /* display: flex;
        justify-content: center; */
font-size: 13;
    }
    }
    #navbar ul li a{
        margin: 4px 4px;
        padding: 3px 3px;
        font-size: 12px;
    }
    
}
